<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>False Html page</title>
    {% endblock %}
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/mdb.css">
    <style>
        #a,#b,#c,#d,#e,#f{
            color: aliceblue;
        }
    </style>
</head>
<body>
    <nav class="nav" style="background-color: rgb(111, 167, 219);">
        <a href="{% url 'admin:index' %}" class="nav-link" id="a">Admin</a>
        <a href="{% url 'home' %}" class="nav-link" id="c">Home</a>
        <a href="{% url 'register' %}" class="nav-link" id="b">Register</a>
        {% if user.is_authenticated %}
        <a href="{% url 'userlogout' %}" class="nav-link" id="e">Logout</a>
        <a href="{% url 'questions' %}" class="nav-link" id="f">UplodeQuestions</a>
        {% else %}
        <a href="{% url 'login_user' %}" id="d" class="nav-link">Login</a>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
    
</body>
</html>