{% extends 'false.html' %}
{% block title %}
    <title>Login</title>
{% endblock %}


{% block content %}
<center>
    <br>
    <h1>UserLogin</h1>
    <br><br>
    <form action="" method="POST">
        
        {% csrf_token %}
        <label for="user">UserName</label>
        <input type="text" name="user" id="user"><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"><br>
        <input type="submit" value="Login" class="btn-success">
    </form>

    
</center>
{% endblock %}